<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAGNu-ZuqYlEjRWqguElUYs5-A8_P6Z_yQ</string>
	<key>GCM_SENDER_ID</key>
	<string>889667759656</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.caffeineConnectfull</string>
	<key>PROJECT_ID</key>
	<string>caffeine-connect100g</string>
	<key>STORAGE_BUCKET</key>
	<string>caffeine-connect100g.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:889667759656:ios:a54a1b7cd2f502018dcf1d</string>
</dict>
</plist>